:root {
  --primary-color: #128ff3;
}
body {
  margin: 0;
  background-color: #dddddd;
}



/* Spark Toolbars *************/

.basic-toolbar {
  display: block;
  position: relative;
  width: 100%; height: 50px;
  background-color: var(--primary-color);
}

.basic-toolbar > .nav-container {
  display: block;
  position: relative;
  width: auto; height: 40px;
  margin: 0;
  padding: 5px 0 5px 15px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
}
.basic-toolbar > .nav-container > .nav-item {
  display: inline-block;
  position: relative;
  color: #fff;
  padding: 5px; /* Move to " .nav-item > a " */
  margin: 5px 5px 0 0;
}
.nav-item > a {
  color: #fff;
}
